.navbar {
    background-color:#313e4f;
}

.row > .navbar-header a {
    color: white;
    font-size: 2rem;
}

.navbar-default .navbar-nav > li > a{
    color: white;
    font-size: 1.5rem;
}

.jumbotron {

    background-color: #66ba9e;
    color: white;
}

#jumbotron-img {
    height: 200px;
    position: relative;
}

.jumbotron img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

/* background-image: url('img/avatar.svg');
background-repeat: no-repeat;
background-position: center;
background-size: contain;*/
