.navbar {
    background-color:#313e4f;
    margin-bottom: 0;
    border: 0px;
    border-radius: 0;
    padding: 20px 0;

}

.navbar > .container .navbar-brand {
    color: white;
    font-size: 2.5rem;
    font-weight: bolder;
}

.navbar-default .navbar-nav > li > a{
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
}

.jumbotron {
    background-color: #66ba9e;
    color: white;
    padding-top: 200px;

}

.jumbotron img {
    height: 200px;
    margin: auto;
}

.star {
    width: 250px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

.star::before,
.star::after {
    background-color: white;
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc((100% - 60px) / 2);
    height: 2px;
}

.star::before {
    left: 0;
}

.star::after {
    right: 0;
}

 /* Inizio parte portfolio e contact -- caratteristiche in comune*/

#portfolio .star::before,
#portfolio .star::after,
#contact .star::before,
#contact .star::after {
    background-color: #2C3E50;
}

#portfolio ,
#contact{
    color: #2C3E50;
    margin-bottom:2%;
}

#portfolio img {
    height: 280px;
    padding: 1%;
    border-radius: 15px;
}

#porfolio-img img:hover {
    background-color: #1ABC9C;
}

#portfolio .star {
    color: #2C3E50;
}

/*  inizio sezione about */

#about {
    padding-top: 2%;
    background-color: #1ABC9C;
    color: white;
    font-size: 20px;
    font-weight: lighter;
}

#about button,
.form-group button {
    background-color: #1ABC9C;
    color: white;
    margin: 5% 0;
    font-family: inherit;
    padding: 2%;
    border: 2px solid white;
}

/* inizio parte contact */

#contact {
    padding: 5%;
}
.form-control,
.form-group {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0;
    box-shadow: 0;
    padding-bottom: 10px 0 90px 0;
    color: #727B83;
    font-size: 20px;
    transition: none;
}

/* FOOTER */

footer {
    background-color: #313e4f;
    color: white;
    padding: 5% 2;
}

#start-boot{
    color: #1ABC9C;
}

#start-boot span:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Riga dopo footer */

#footer-bottom {
    padding: 1%;
    background-color: #1A252F;
    color: white;
    margin: auto;
}
